[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[pipenv]
allow_prereleases = true

[packages]
"jinja2" = "*"
"psycopg2" = "*"
flask = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-script = "*"
markupsafe = "*"
sqlalchemy = "*"
werkzeug = "*"
arrow = "*"
itsdangerous = "*"
maya = "*"
prettyconf = "*"
python-dateutil = "*"
telepot = "*"
marshmallow = "*"

[dev-packages]
"flake8" = "*"
"flake8-blind-except" = "*"
"flake8-bugbear" = "*"
"flake8-comprehensions" = "*"
"flake8-debugger" = "*"
"flake8-docstrings" = "*"
"flake8-isort" = "*"
"flake8-module-imports" = "*"
"flake8-mypy" = "*"
"flake8-polyfill" = "*"
"flake8-pytest" = "*"
"flake8-quotes" = "*"
"pep8" = "*"
"pep8-naming" = "*"
faker = "*"
coverage = "*"
factory-boy = "*"
ipdb = "*"
ipython = "*"
isort = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
pytest-runfailed = "*"
