[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"Jinja2" = "*"
"psycopg2" = "*"
Flask = "*"
Flask-Migrate = "*"
Flask-SQLAlchemy = "*"
Flask-Script = "*"
MarkupSafe = "*"
SQLAlchemy = "*"
Werkzeug = "*"
arrow = "*"
itsdangerous = "*"
maya = "*"
prettyconf = "*"
python-dateutil = "*"
telepot = "*"

[dev-packages]
"flake8" = "*"
"flake8-blind-except" = "*"
"flake8-bugbear" = "*"
"flake8-comprehensions" = "*"
"flake8-debugger" = "*"
"flake8-docstrings" = "*"
"flake8-isort" = "*"
"flake8-module-imports" = "*"
"flake8-mypy" = "*"
"flake8-polyfill" = "*"
"flake8-pytest" = "*"
"flake8-quotes" = "*"
"pep8" = "*"
"pep8-naming" = "*"
Faker = "*"
coverage = "*"
factory_boy = "*"
ipdb = "*"
ipython = "*"
isort = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
pytest-runfailed = "*"
