[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[pipenv]
allow_prereleases = true

[packages]
"jinja2" = "*"
"psycopg2" = "*"
flask = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-script = "*"
markupsafe = "*"
sqlalchemy = "*"
werkzeug = "*"
arrow = "*"
itsdangerous = "*"
maya = "*"
prettyconf = "*"
python-dateutil = "*"
telepot = "*"
marshmallow = "*"
pyobjc-core = "*"
pyobjc-framework-cocoa = "*"
simple-settings = {extras = ["toml"]}
todoist-python = "*"
tapioca-toggl = "*"

[dev-packages]
faker = "*"
coverage = "*"
factory-boy = "*"
pytest = "*"
pytest-cov = "*"
pytest-runfailed = "*"
nitpick = {git = "https://github.com/andreoliwa/python-nitpick", editable = true}
